/* Empty. Add your own CSS if you like */
.iconFont{
	font-size: 26px;
	color: lightskyblue;
}
.navMenuBG{
	background-color: lightskyblue;
	color: white;
}
.menuColor{
	color: white !important;
}
.item {
    border-color: #ddd !important;
    background-color: #fff !important;
    color: #444 !important;
    position: relative !important;
    z-index: 2 !important;
    display: block !important;
    margin: -1px !important;
    border-width: 1px !important;
    border-style: none !important;
    font-size: 16px !important;
}

.customText{
    border-style: dashed !important;
    border-width: thin !important;
    width: 95% !important;
    
}

.heart{
    color: whitesmoke !important;
    font-size: 20px;

}
.tweetHeader{
    background-color: lightskyblue !important;
    color: white !important;

}
.tweetFooter{
    background-color: lightskyblue !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.datestamp{
    color: whitesmoke;
    font-size: 14px;
    margin-left: 18%;
}
.tweetSecond{
    font-size: 12px !important;
}
.userName{
    vertical-align: middle;
}