<ion-view view-title="Home" hide-back-button="true">
<ion-nav-bar class="navMenuBG">
  <ion-nav-back-button></ion-nav-back-button>
  <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-navicon menuColor" menu-toggle="left"> </button> </ion-nav-buttons>
  <ion-nav-buttons side="right"> <button class="button button-icon button-clear ion-person menuColor" ng-click="login()"> </button> </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
    <h1>Home</h1>
  </ion-content>
</ion-view>