<ion-view view-title="Home" hide-back-button="true">
<ion-nav-bar class="navMenuBG">
  <ion-nav-back-button></ion-nav-back-button>
  <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-navicon menuColor" menu-toggle="left"> </button> </ion-nav-buttons>
  <ion-nav-buttons side="right"> <button class="button button-icon button-clear ion-person menuColor" ng-click="login()"> </button> </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
    <div class="row responsive-sm">

			<div class="card">
			  <div class="item item-divider tweetHeader">
			  	    <p class="item-avatar">
			  	      <img src="img/vinay.jpeg">
			  	      <span class="userName">Vinay Gopalaiah</span>
			  	    </p>
			    
			  </div>
			  <div class="item item-text-wrap">
			    This is my first tweet
			  </div>
			  <div class="item item-divider">
			  	<span class="tweetSecond">50 Likes 30 Retweets</span>
			  </div>
			  <div class="item item-divider tweetFooter">
			  	<button class="button-clear ion-heart heart"></button>
			  	<button class="button-clear ion-ios-chatboxes heart"></button>
				<button class="button-clear ion-crop heart"></button>
				<span class="datestamp"> 01st December, 2015</span>
			  </div>
			  

			</div>
			

    </div>
    
  </ion-content>
</ion-view>